language: go

services:
 - docker

script:
 - make container
 - make test

after_success:
 - if [ "$TRAVIS_BRANCH" == "master" ]; then
   docker login -u "$DOCKER_USERNAME" -p "$DOCKER_PASSWORD";
   make push;
   fi
